<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samnangthorn.hatt_app10">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="Hatt App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hatt_App10">
        <activity android:name=".BMI_detail"></activity>
        <activity android:name=".Processing" />
        <activity android:name=".Returning" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9354138576649544~2620124713" />

        <activity android:name=".PopUp_chooseWK" />
        <activity android:name=".RemoveWorkout" />
        <activity android:name=".EditWorkout" />
        <activity android:name=".AddWorkout" />
        <activity android:name=".DetailExercise" />
        <activity android:name=".NewUserSetUp" />
        <activity android:name=".AddExercise" />
        <activity android:name=".Setting" />
        <activity android:name=".TimerLayout" />
        <activity android:name=".Schedule" />
        <activity android:name=".Exercise" />
        <activity android:name=".Report" />
        <activity android:name=".LogIn" />
        <activity android:name=".SignUp" />
        <activity android:name=".Setup" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>